{% extends "base.html" %}

{% block content %}
  <h1>Login</h1>
  {% if form.errors %}
    <p style="color:red">Invalid credentials</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form action="{% url "login" %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
  </form>
{% endblock %}
