<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li><a href="{% url 'taxi:driver-detail' pk=user.id %}" class="nav-link p-0 text-start">
      {{ user.get_username }}</a></li>
    <li>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-link p-0 text-start">Log out</button>
      </form>
    </li>
  {% else %}
    <li><a href="{% url "login" %}">Login</a></li>
  {% endif %}

  <br>
  <li><a href="{% url "taxi:index" %}">Home page</a></li>
  <li><a href="{% url "taxi:manufacturer-list" %}">Manufacturers</a></li>
  <li><a href="{% url "taxi:car-list" %}">Cars</a></li>
  <li><a href="{% url "taxi:driver-list" %}">Drivers</a></li>
</ul>
